body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: white;
    padding:20px;
}
header{
  text-align: center;
  font-size:20px;
    border: 3px solid #000000;
} 
.container {
  position: relative;
}
section1{
  position:absolute;
  left:0%;
  top:20%;
  margin-left:40px;
  margin-right:40px;
  text-align:left;
}
section2{
  position:absolute;
  left:0%;
  top:50%;
  margin-left:40px;
  margin-right:40px;
  text-align:left;
}
footer {
  text-align: right;
  color:grey;
  border: 3px solid #000000;
  margin-top:15px;
  border-left:none;
   border-bottom:none;
   border-right:none;
}
section{
  text-align: center;
  background-color: white;
  border-width:3px 3px 3px 25px;
  border-color: green;
  border-style: solid;
  }
  article{
    text-align: center;
    margin-right:320px;
  margin-left:320px;
  }
a{
  color:grey;
  height:75%;
}
  aside{
    text-align: right;
    display: right;
  }
  aside::first-line{
    font-weight: 700;
  }
h1{
  font-size:40px;
  float:left;
}
h2{
  position: absolute;
  top: 0%;
  left:50%;
  transform: translate(-50%, -70%);
}

