body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    padding:20px;

}
header, footer {
    padding: 20px;
  text-align: center;
}
section{
    text-align: center;
    padding:20px;
    background-color:burlywood;
  }
  article{
    text-align: center;
  }
  aside{
    text-align: right;
  }
  aside::first-line{
    font-weight: 700;
  }
h1{
    color: aqua;
}
h2{
    color: blueviolet;
}
